@{
    ViewData["Title"] = "Home Page";
}

@model MachineBindingTarget

<form asp-action="AddProductionInfo" asp-controller="Home" method="post">
    <label asp-for="MachineId" class="form-label">Machine ID:</label>
    <input asp-for="MachineId" class="form-control"/>

    <span asp-validation-for="MachineId" class="m-3 text-danger"></span>
    <hr />
    <label asp-for="Location" class="form-label">Location:</label>
    <input asp-for="Location" class="form-control"/>

    <span asp-validation-for="Location" class="m-3 text-danger"></span>
    <hr />
    <label asp-for="Make" class="form-label">Make:</label>
    <input asp-for="Make" class="form-control" />

    <span asp-validation-for="Make" class="text-danger m-3"></span>
    <hr />
    <button type="submit" class="m-3 btn btn-primary">Add</button>
</form>